set default=0
set timeout=1

if [ -f ($root)/grub/grubenv ]; then
    load_env
fi

if [ "${active_slot}" = "" ]; then
    set active_slot=A
fi

if [ "${upgrade_available}" = "1" -a "${target_slot}" != "" ]; then
    set boot_slot=${target_slot}
else
    set boot_slot=${active_slot}
fi

if [ "${boot_slot}" = "B" ]; then
    set rootpart=(hd0,3)
    set fallback_part=(hd0,2)
else
    set rootpart=(hd0,2)
    set fallback_part=(hd0,3)
fi

menuentry 'NTP Server (selected slot)' {
    linux ${rootpart}/boot/bzImage root=LABEL=rootfs${boot_slot} rootwait ro console=tty0 console=ttyS0,115200n8 vga=0
}

menuentry 'NTP Server (fallback slot)' {
    linux ${fallback_part}/boot/bzImage root=LABEL=rootfs${active_slot} rootwait ro console=tty0 console=ttyS0,115200n8 vga=0
}
